Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Root element -->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" type="HotelType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Hotel type: Name, one-or-more Phone, Address; optional Rating attribute -->
  <xs:complexType name="HotelType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Address" type="AddressType"/>
    </xs:sequence>
    <xs:attribute name="Rating" type="RatingType" use="optional"/>
  </xs:complexType>

  <!-- Simple phone type (string for flexibility) -->
  <xs:simpleType name="PhoneType">
    <xs:restriction base="xs:string">
      <xs:minLength value="7"/>
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Rating from 0.0 to 5.0, one decimal allowed -->
  <xs:simpleType name="RatingType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.0"/>
      <xs:maxInclusive value="5.0"/>
      <xs:fractionDigits value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Address: Number, Street, City, State, Zip; required NearestAirport attribute -->
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:string"/>
      <xs:element name="Street" type="xs:string"/>
      <xs:element name="City" type="xs:string"/>
      <xs:element name="State" type="xs:string"/>
      <xs:element name="Zip" type="ZipType"/>
    </xs:sequence>
    <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:simpleType name="ZipType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{5}(-\d{4})?"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
